/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding: 18px 35px;
color: white;
/* width: 150px; */
/* height: 64px; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #FD6E0A;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    width: 450px;
    height: 500px;
    /* margin-left: 120px; */
}
.greeting{
    font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #474747;
margin-bottom: 0;
/* font-family: Open Sans; */
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;

}

/* main section styles */

.about{
    text-align: center;
    padding: 30px 120px 120px 120px ;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 30px 150px;
}
.section-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-descripstion{
    color: #757575;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
main{
    /* max-width: 1140px; */
    /* margin: 0 auto; */
    margin-top: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 0px;
}
.about-info{
    text-align: center;
}
.info-description{
    display: inline;
    color: #FD6E0A;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
font

line-height: 30px;
}
.section-title{
    text-align: center;
    padding-top: 100px;
}
#des{
    padding: 0px 300px;
}
/* skill related  */
.skills-container{
    display: flex;
    margin: 0 130px;
    padding-top: 30px;
    gap: 24px;
}
.skill{
    /* display: flex; */
    padding: 30px;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

  
}
.skill-description{
    font-size: 16px;
    color: #757575;
    font-style: normal;
font-weight: 400;
line-height: 28px;
}
.skill-title{
    font-size: 18px;
font-style: normal;
font-weight: 700;
}
/* resume section styles */
.resume-title{
    color: #474747;
    font-size: 30px;
    font weight:600

}
.resume-container{
    display: flex;
    gap: 50px;
     margin-right: 120px;
    margin-left: 120px;

}
.resume-item-des{
    color: #757575;
}
.resume-item-ins{
    color: #757575;
    font-size: 16px;
}
.resume-item-title{
    color: #474747;
    font-size: 18px;
}
.resume-container hr{
    margin: 20px 0px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer styles */
footer{

    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 0px 120px;
    gap: 100px;
}
.footer-coloumn{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    width: 461px;
    border-radius: 5px;
background:  #FFF;
border: none;
}
.social-links a{
    margin-right: 25px;
}